@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SkyBori";
  src: url("/fonts/SKYBORI.otf") format("opentype"), url("/fonts/SKYBORI.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body,
#sidebar {
  @apply bg-white text-black;
  font-family: "SkyBori", sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar {
  @apply bg-gray-100;
}

.dark body {
  @apply bg-gray-700 text-white;
}

.dark #sidebar {
  @apply bg-gray-900 text-white;
}
