@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SkyBori";
  src:
    url("/fonts/SKYBORI.otf") format("opentype"),
    url("/fonts/SKYBORI.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "SkyBori", sans-serif;
}

@layer base {
  body {
    @apply bg-white text-black dark:bg-gray-700 dark:text-white;
  }
}

@layer components {
  #sidebar {
    @apply bg-gray-100 dark:bg-gray-900 dark:text-white;
  }
}
