@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "SkyBori";
  src:
    url("/fonts/SKYBORI.otf") format("opentype"),
    url("/fonts/SKYBORI.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
} */

body {
  font-family: "SkyBori", sans-serif;
}
